
.mainContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: red;
        width: var(--main-container-width);
        min-height: var(--main-container-height);
}

.top_Container {
     
        text-align: center;
        background-color: Salmon;
}

.content_Container {
        display: flex;
        flex-direction: row;
        
        justify-content: space-around; 
        min-width: var(--min-Width);
        background-color: OrangeRed;
}


.dataBar {
        margin-bottom: 2px;
        margin-right: 0px;
}



.spanValue {
        padding: 0;
        color: var(--spanColor);
}

.bottomArea {
        background-color: #00ff00;
}

.graphColumn {
     
        background-color: var(--backgr-color-column);
}
.graphColumn_previous {
        
      

        background-color: rgb(0, 123, 255);
        
}

.blockGroup{
        display: flex;
        flex-direction: row;
        align-items: flex-end;       
        border : 2px solid green;
        height: var(--height_blockGroup);
        max-width: var(--blockGroup_Width);
       
        

        
}