.graphContainer {
        position: absolute;
        top: 10;
        width: 100%;
        /* или конкретное значение, например 300px */
        height: 100%;
        /* или конкретное значение, например 300px */
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
}

.mainContainer {
        display: flex;
        flex-direction: column;
        background-color: red;
       width: var(--main-container-width);
       min-height: var(--main-container-height);
}

.top_Container {
        width: 100%;
        text-align: center;
        background-color: Salmon;
}

.content_Container {
        flex-direction: row;
        display: flex;
        align-items: flex-end;
        background-color: OrangeRed;
}

.graph {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: OrangeRed;
}

.dataBar {
        margin-bottom: 2px;
        margin-right: 10px;
}

.graphColumn {
        height: var(--column-height);
        width: var(--column-width);
        background-color: var(--backgr-color-column);
}
.spanValue {
        padding: 0 ;
        color: var(--spanColor);
}